<% provide(:title, "About") %>
<h1>SaturnX</h1>è una Webapp sviluppata dalla <a href="https://www.farmaciadelprete.it">Farmacia Del Prete</a> per la gestione delle prenotazioni CUP in Regione PUGLIA
  