<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Guida all'utilizzo di
  <a href="https://saturnx.herokuapp.com">SaturnX</a>.
  Invia una <a href="mailto:corrado.agusto@gmail.com"><em>mail</em></a>per richiedere supporto.
</p>
  
  