<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
  Home Page dell'applicazione
  <a href="https://saturnx.herokuapp.com/">SaturnX</a>
  Gestione delle ricette CUP - Farmacia DEL PRETE - Sava (TA)
</p>
